%div.containerS.cf
  %hgroup
    %h1{:style=>"margin-top: 0.3em; position: fixed; width: 100%; z-index: 100;"}
      %a{:href=>'/'} Sarbotte designs
    %h2{:style=>'position: fixed; width: 100%; z-index: 100; padding: 5 0;'}
      Application
  %div{:id=>'application', :style=>'text-align: center; width: 600px; padding-top: 16em; margin: auto;'}

    %form{:action=>'/application', :method=>'post', :class=>'form-horizontal', :style=>'text-align: initial;'}

      %fieldset
        %legend Informations

        = question('Veuillez saisir les informations suivantes')
        = bsInput('input', 'text', 'prenom', 'Prénom', 'Prénom')
        = bsInput('input', 'text', 'nom', 'Nom', 'Nom')
        = bsInput('input', 'text', 'email', 'Email', 'Email', 'Ne sera pas utilisé à des fins commerciales')

      %fieldset
        %legend Sarbottisme

        = question('Veuillez décrire de façon succinte et détaillée votre expérience du Sarbottisme')
        = bsInput('textarea', '', 'experienceSarbottisme', 'Réponse', 'Réponse')
        
        = question('Comment avez-vous connu Sarbotte Designs ?')
        = bsInput('textarea', '', 'connuSarbotteDesigns', 'Réponse', 'Réponse')

      %fieldset
        %legend Test d'aptitudes


        - # js
        %p
          %strong
            %i Que renvoie l'expression suivante en javascript :
            %code typeof NaN
            %i ?
        = bsInput('textarea', '', 'testJs', 'Réponse', 'Réponse')
        
        - # js
        %p
          %strong
            %i Quelle technologie web ?
        %div{:class=>'control-group'}
          %div{:class=>'controls'}
            %label{:class=>'control-label'}
              %input{:type=>'radio', :name=>'techno'}
              Struts
        - # piliers Sarbottisme
        = question('Quels sont les cinq pilliers du Sarbottisme ')
        = bsInput('textarea', '', 'pilliersSarbottisme', 'Réponse', 'Réponse')
        
        %button{:type=>'submit', :class=>'btn'} Valider